.env

.venv/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/

logs/
airflow-webserver.pid
airflow.db
airflow.cfg
config/airflow.cfg

.ipynb_checkpoints/

.vscode/

data/
*.csv